################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercises/obj/Debug
/.vs/SeleniumAutomation/v16
/UnitTesting/bin/Debug
/UnitTesting/obj/Debug
/packages
/Exercises/bin/Debug
